@*#region Description
    /******************************************************************************************************
    * PROJECT:PPCP VERSION:1.0
    *
    * MODULE : Organization
    *
    * ITEM NAME :ViewPaymentDetails.cshtml
    *
    * DEVELOPED BY: Veena.A
    *
    * REVIEWED BY:
    *
    * MODULE DISCRIPTION:
    *
    * CONTROL DESCRIPTION : used to View Payment details in Grid

    ****************************************************************************************************
    DATE CHANGE LOG DESCRIPTION CHANGED BY
    Date:               Description:                Author:
    *****************************************************************************************************/
    #endregion*@
@model PPCP07302018.Models.Organization.PPCPReports
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Payments Report";
    Layout = "~/Views/Shared/WUCAdminLeftMenu.cshtml";
    var ServiceUrl = (System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"].ToString());
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/KendoScripts")
@Scripts.Render("~/bundles/custom-validator")
@Styles.Render("~/bundles/Kendocss")
@Scripts.Render("~/bundles/ViewPaymentDetailsScriptFiles")   @*For ViewPaymentDetails script files*@
@Styles.Render("~/bundles/Membercssfiles")       @*For member css files*@
<style type="text/css">
    .PanelTopBar {
        font-family: Arial;
        color: #02BFB9;
        font-size: 18px;
        padding: 5px 10px;
        width: 100%;
        border-bottom: solid 1px #000000;
        background-color: #02BFB9;
    }

    .ArrowClose {
        background-image: url(../../Images/collapse_blue.jpg);
        width: 13px;
        height: 13px;
        float: right;
        margin-top: 7px;
        margin-right: 5px;
    }

    .ArrowExpand {
        background-image: url(../../Images/expand_blue.jpg);
        width: 13px;
        height: 13px;
        float: right;
        margin-top: 7px;
        margin-right: 5px;
    }

    .loadingSpinner {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('../../Images/loading-spinner-red.gif') 50% 50% no-repeat;
    }
</style>
@*@using (@Html.BeginForm("PaymentsReport", "Organization", FormMethod.Post))
    {*@
<div class="pageheading_bar" align="center">
    <b>Payments Report</b>
</div>
<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="divMainRegistration" style="margin-top:0px;">
    <div class="Panel_bg">
        <div class="form-group">
            <fieldset id="fsLabOrderSearch" style="display:block">
                <div class="form-group" style="display:none">
                    <div id="dvSearchFilterHeader" style="cursor: pointer;" onclick="CollapsiblePanels(document.getElementById('dvSearchFilterHeader'),document.getElementById('dvSearchFilter'));"
                         class="PanelTopBar">
                        <span id="4_lblSearchPat" style="font-size:15px;font-weight:normal;color: White;">Search</span>
                        <div style="float: right; margin-top: -5px; color: White; padding: 5px 5px 0 0">
                        </div>
                        <div id="arrow" class="ArrowClose"></div>
                    </div>
                </div>

                <div id="dvSearchFilter" style="display: block;">
                    <div class="Page_Dimmer1">
                    </div>
                    <div class="PopupHolder2" style="height:auto;">

                        <div class="Panel_bg_Sub">
                            <div style="width: 100%;height:auto;">
                                <div class="col-xs-0 col-md-3 col-sm-0 col-lg-3"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                        @( Html.Label("From", new { style = "font-weight:normal;" }))<span style="color: Red;">*</span><br />
                                        @( Html.Kendo().DatePicker().Format("MM/dd/yyyy").Name("FromDate").Events(e => e.Change("startChange")).Value("")
       .Max(DateTime.Today).HtmlAttributes(new { PlaceHolder = "MM/DD/YYYY", style = "width:100%;", Maxlength = "10", type = "text" }))<br />


                                        <span style="color: Red"><span id="Span3"></span></span>
                                    </div>
                                    <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                        @( Html.Label("To", new { style = "font-weight:normal;" }))<span style="color: Red;">*</span><br />
                                        @( Html.Kendo().DatePicker().Format("MM/dd/yyyy").Name("ToDate").Events(e => e.Change("endChange")).Value("").Max(DateTime.Today).HtmlAttributes(new { PlaceHolder = "MM/DD/YYYY", style = "width:100%;", Maxlength = "10", type = "text" }))<br />


                                        <span style="color: Red">
                                            <span id="Span7"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-0 col-md-3 col-sm-0 col-lg-3"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                        @Html.Label("Organization Name", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;">*</span><br />
                                        @(Html.Kendo().AutoCompleteFor(model => model.OrganizationName)
                                                    .Name("OrganizationNames")
                                                    .Placeholder("Select Organization...")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataTextField("OrganizationName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnOrganizationSelectChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                        <br />
                                        @Html.Hidden("OrganizationID")
                                        @Html.HiddenFor(m => m.OrganizationID)

                                        <script type="text/javascript">
                                                            function OnOrganizationSelectChange(e) {
                                                                var dataItem = this.dataItem(e.item.index());
                                                                $("#OrganizationName").val(dataItem.OrganizationName);
                                                                $("#OrganizationID").val(dataItem.OrganizationID);
                                                                BindProviderNames($("#OrganizationID").val(), "@ServiceUrl");
                                                            }
                                        </script>
                                    </div>
                                    <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3">
                                        @Html.Label("Select Provider Name", new { style = "font-weight:normal;", @class = "classlabel" })<br />
                                        @(Html.Kendo().DropDownListFor(m => m.ProviderName)
    .Name("ProviderNames").HtmlAttributes(new { style = "width:100%;" })
    .OptionLabel("--Select--")
    .Events(events =>
    {
        events.Select("onSelectProvider");
    })
    .DataValueField("ProviderID")
    .DataTextField("ProviderName")

    .DataSource(source =>
    {
        source.Read(read =>
        {
        });
    }))
                                        <br />

                                        @*@Html.HiddenFor(model => model.OrganizationID)*@
                                        @Html.HiddenFor(model => model.ProviderID)
                                        @Html.Hidden("hdnProviderName")
                                    </div>
                                    <script type="text/javascript">

                                function onSelectProvider(e) {
                                    $("#hdnProviderName").val("");
                                    $("#ProviderID").val("");
                                    var dataItem = this.dataItem(e.item.index());
                                    $("#ProviderID").val(dataItem.ProviderID);
                                    $("#ProviderNames").val(dataItem.ProviderName);
                                    if ($("#ProviderNames").val() == "--Select--") {
                                        $("#ProviderID").val("");
                                        $("#ProviderNames").val("");
                                    }

                                }
                                    </script>


                                   
                                </div>
                                <div class="col-xs-0 col-md-3 col-sm-0 col-lg-3"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                        @Html.Label("Payment Status", new { style = "font-weight:normal;", @class = "classlabel" })<br />

                                        @(Html.Kendo().DropDownList()
                    .Name("PaymentStatus").HtmlAttributes(new { style = "width:100%;" })
                    .OptionLabel("--Select--")
                    .Events(events =>
                    {
                        events.Change("onSelectPaymentStatus");
                    })
                    .DataValueField("Value")
                    .DataTextField("Text")
                    .BindTo(new List<SelectListItem>()
                    {
                                                        new SelectListItem()
                                                        {
                                                             Text = "Paid",
                                                            Value = "1"
                                                        },
                                                         new SelectListItem()
                                                        {
                                                             Text = "Partially",
                                                            Value = "2"
                                                        },
                                                        new SelectListItem()
                                                        {
                                                            Text = "Pending",
                                                            Value = "3"
                                                        },
                                                        new SelectListItem()
                                                        {
                                                            Text = "All",
                                                            Value = "4"
                                                        }

                    })
                                        )<br />

                                        @Html.Hidden("PaymentStatusID")
                                        <script type="text/javascript">

                                            function onSelectPaymentStatus(e) {

                                                $("#PaymentStatus").val("");
                                                    var dataItem = e.sender.dataItem();
                                                    $("#PaymentStatus").val(dataItem.Text);
                                                    $("#PaymentStatusID").val(dataItem.Value);
                                                    if ($("#PaymentStatus").val() == "--Select--") {
                                                        $("#PaymentStatus").val("");
                                                    }
                                                }
                                        </script>
                                    </div>
                                    <label style="font-weight: normal;">
                                        @Html.Label("Plan Type", new { style = "font-weight:normal;", @class = "classlabel" })<br />
                                        @(Html.RadioButtonFor(m => m.PlanType, "1", new
                                        {
                                            id = "rbtnIndividual",


                                        }))
                                        Individual
                                    </label>
                                    <label style="font-weight: normal; margin-left:20px">
                                        @(Html.RadioButtonFor(m => m.PlanType, "2", new
                                        {
                                            id = "rbtnFamily",

                                        }))
                                        Family Members
                                    </label>
                                    <label style="font-weight: normal; margin-left:20px">
                                        @(Html.RadioButtonFor(m => m.PlanType, "3", new
                                    {
                                        id = "rbtnAll",
                                        @checked = "true"
                                    }))
                                        All
                                    </label>
                                </div>

                                <div class="col-xs-0 col-md-3 col-sm-0 col-lg-3"></div>
                                <div class="col-xs-0 col-md-3 col-sm-0 col-lg-3"></div>
                                <div class="row">
                                    <div align="center">
                                        <span id="DateValidationMessage" style="color: Red"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div align="center">
                                        <div class="col-xs-0 col-md-3 col-sm-3 col-lg-3"></div>
                                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                                            <br />
                                            <span id="spnOrganiizationerror"style="color:red"></span><br />
                                            <button type="button" id="btnSearch" title="Search" style="width: 100px;" class="button_blue" value="Search" onclick="btnDownLoad()">
                                                @*onclick="btnDownLoad()"*@
                                            Search
                                        </button>
                                        <button type="button" id="btnClear" title="Clear" value="Clear" style="width: 100px;display:none" class="button_blue">
                                            Clear
                                        </button>
                                        <button type="button" id="btnClosed" title="Close" value="Close" style="width: 100px;display:none" class="button_blue">
                                            Close
                                        </button>
                                    </div>
                                    <div class="col-xs-0 col-md-3 col-sm-3 col-lg-3"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @*Report Preview code*@
            <div class="row" id="divpdfviewprescriptionpopup" style="display: none; align-content:center;">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    
                    <div style="border: Solid 1px #33CCEE; width: 100%;">
                        <div id="divotherpdfview"></div>

                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-sm-12 ">
                                <div id="divImagePrescription" style="height: 643px; width: 100%; ">
                                </div>
                            </div>
                        </div>
                        <div id="divbtnrereshOK" align="center" style="display:none">
                            <button type="button" id="btnSuccess" onclick="OkPDFFile();" class="button_Sky_blue"
                                    style="width: 70px;">
                                Ok
                            </button>

                        </div>
                    </div>
                    @*</div>*@
                </div>
            </div>
        </fieldset>

    </div>
</div>
</div>
@*}*@
<script type="text/javascript">
    function setCollapsePanel(dvSearchFilterHeader, dvSearchFilter) {
        $(dvSearchFilter).slideToggle('slow');
        $(dvSearchFilterHeader).find(".ArrowClose:first").remove();
        $("<div class='ArrowExpand'></div>").appendTo(dvSearchFilterHeader);
        isCollapse = 1;
    }
    var isCollapse = 0;
    function CollapsiblePanels() {

        $('#dvSearchFilter').slideToggle('slow');
        if (isCollapse == 0) {
            $("#dvSearchFilterHeader").find(".ArrowClose:first").remove();
            $("<div class='ArrowExpand'></div>").appendTo($("#dvSearchFilterHeader"));
            isCollapse = 1;
        }
        else {
            $("#dvSearchFilterHeader").find(".ArrowExpand:first").remove();
            $("<div class='ArrowClose'></div>").appendTo($("#dvSearchFilterHeader"));
            isCollapse = 0;
        }
        $("#arrow").hide();
    }
    function startChange() {
        document.getElementById("Span3").innerHTML = "";
        var endPicker = $("#ToDate").data("kendoDatePicker");
        startDate = this.value();
        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            endPicker.min(startDate);
        }
        dateselection();
    }

    function endChange() {

        document.getElementById("Span7").innerHTML = "";
        dateselection();
    }

    function dateselection() {
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var d1 = FromDate.split('/');
        //d1 = new Date(d1.pop(), d1.pop() - 1, d1.pop());
        d1 = new Date(d1);
        var FromYear = d1.getYear();
        var d2 = ToDate.split('/');
        //d2 = new Date(d2.pop(), d2.pop() - 1, d2.pop());
        d2 = new Date(d2);
        var ToYear = d2.getYear();
        if (ToYear < FromYear) {
            document.getElementById("DateValidationMessage").innerHTML = "From Date should be less than To Date";
        } else {
            if (d2 < d1) {
                document.getElementById("DateValidationMessage").innerHTML = "Invalid From Date and To Date";
            }
            else {
                document.getElementById("DateValidationMessage").innerHTML = "";
            }
        }
        var timeDiff = Math.abs(d2.getTime() - d1.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

    }

    function btnDownLoad() {
        debugger;
        if ($("#OrganizationID").val() == "" || $("#OrganizationID").val() == null) {
            document.getElementById("spnOrganiizationerror").innerHTML = "Please select Organization";
            return false;
        } else document.getElementById("spnOrganiizationerror").innerHTML = "";
        var ToDate = $("#ToDate").val();
        var FromDate = $("#FromDate").val();
        var ProviderID = $("#ProviderID").val();
        var ProviderName = $("#ProviderNames").val();
        var Status = $("#PaymentStatus").val();
        var OrganizationID = $("#OrganizationID").val();
        var rbtnMale = $('input[id=rbtnIndividual]:checked').val();
        var rbtnFEM = $('input[id=rbtnFamily]:checked').val();
        var rbtnAll = $('input[id=rbtnAll]:checked').val();
        if (rbtnMale == 1) {

            var PlanType = "1";
        }
        else if (rbtnFEM == 2) {


            var PlanType = "2";
        }
        else if (rbtnAll == 3) {


            var PlanType = "";
        }
        else {

            var PlanType = "";
        }
        $("<div class='loadingSpinner'></div>").appendTo($("#divMainRegistration"));
        $.ajax({
            type: "GET",
            url: "PaymentsReportSearch",
            data: { ToDate: ToDate, FromDate: FromDate, ProviderID: ProviderID, ProviderName: ProviderName, PlanType: PlanType, PaymentsStatus: Status, OrganizationID: OrganizationID },
            contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                debugger;
                $("#divMainRegistration").find(".loadingSpinner:first").remove();
                var filename = data[0].Uploadresults.DocumentPath;
               // $("#FileName").val(filename);
                if (filename.indexOf(".pdf") > 0) {
                    imgs = data[0].Uploadresults.DocumentPath;
                    displayPrescription(imgs);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            },
        });

    }
    var displayPrescription = function (base64Data) {
        debugger;
        // checking for file is pdf or image
        if (base64Data.indexOf(".pdf") > 0) {
            var imag = "<iframe  width='1000px' height='600px' "
+ "src='" + "/Utils/PDFHandler.ashx?FilePath="
+ base64Data + "'></iframe>";
        }
        else if (base64Data.indexOf(".PDF") > 0) {
            var imag = "<iframe  width='1000px' height='600px' "
     + "src='" + "/Utils/PDFHandler.ashx?FilePath="
     + base64Data + "'></iframe>";
        }
        else {

            var imag = "<img "
+ "src='" + "data:image/jpg;base64,"
+ base64Data + "'/>";
        }

        $("#divpdfviewprescriptionpopup").show();
        $("#divImagePrescription").html(imag)
    };

    function BindProviderNames(OrganizationID, Url) {
        var webMethodName = "GetProviderDetails";
        var ParameterNames = new Array();
        var ParameterValues = new Array();
        ParameterNames[0] = "strOrganizationID";
        ParameterValues[0] = OrganizationID;
        var Url = Url + "OrganizationServices";
        var jsonPostString = setJsonParameter(ParameterNames, ParameterValues, webMethodName);
        $.ajax({
            type: "POST",
            url: Url,
            data: jsonPostString,
            dataType: "text",
            contentType: "application/json",
            success: function (result) {
                var obj = jQuery.parseJSON(result);
                var ProvidersList = obj[0];
                $('#ProviderNames').data('kendoDropDownList').dataSource.data(ProvidersList);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            },
        });
    }
    function BindOrganizations(url) {
        var webMethodName = "GetPPCPOrganizations";
        var ParameterNames = "";
        var Url = url + "DefaultService";
        var jsonPostString = setParameter(ParameterNames, webMethodName);
        $.ajax({
            type: "POST",
            url: Url,
            data: jsonPostString,
            dataType: "text",
            contentType: "application/json",
            success: function (result) {
                var obj = jQuery.parseJSON(result);
                var OrganizationList = obj[0];
                $('#OrganizationNames').data('kendoAutoComplete').dataSource.data(OrganizationList);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ErrorMessage(webMethodName, textStatus);
            },
        });
    }
    $(document).ready(function () {
        debugger;
        BindOrganizations("@ServiceUrl");
       BindProviderNames('@Session["OrganizationID"]', "@ServiceUrl");
        var ToDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');
       $("#ToDate").data("kendoDatePicker").value(ToDate);
       // var date = new Date(ToDate);
       // var newdate = new Date(date);
       // var dd = newdate.getDate();
       // var mm = newdate.getMonth();
       // var y = newdate.getFullYear();
       // var FromDate = mm + '/' + dd + '/' + y;
        // document.getElementById('FromDate').value = FromDate;
        var dt = new Date();
        dt.setMonth(dt.getMonth() - 1);
        var dd = dt.getDate();
        var mm = dt.getMonth() + 1;
        var y = dt.getFullYear();
        var FromDate = mm + '/' + dd + '/' + y;

        $("#FromDate").val(FromDate);
       // btnDownLoad();
    });

</script>




