@*#region Description
    /******************************************************************************************************
    * PROJECT:PPCP VERSION:1.0
    *
    * MODULE : Admin
    *
    * ITEM NAME :ViewMembers.cshtml
    *
    * DEVELOPED BY: Veena.A
    *
    * REVIEWED BY:
    *
    * MODULE DISCRIPTION:
    *
    * CONTROL DESCRIPTION : used to View Member details in Grid

    ****************************************************************************************************
    DATE CHANGE LOG DESCRIPTION CHANGED BY
    Date:               Description:                Author:
    *****************************************************************************************************/
    #endregion*@

@model PPCP07302018.Models.Organization.AddMemberDetails
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using System.Web.Mvc

@{
    ViewBag.Title = "ViewMembers";
    Layout = "~/Views/Shared/WUCAdminLeftMenu.cshtml";
    var ServiceUrl = (System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"].ToString());
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/KendoScripts")
@Scripts.Render("~/bundles/custom-validator")
@Styles.Render("~/bundles/Kendocss")
@Styles.Render("~/bundles/Membercssfiles")       @*For member css files*@
@Scripts.Render("~/bundles/ViewMemberDetailsScriptFiles")

@Html.Hidden("hdnMemberID")
@Html.Hidden("hdnUserID")
<style>
    .PanelTopBar {
        font-family: Arial;
        color: #02BFB9;
        font-size: 18px;
        padding: 5px 10px;
        width: 100%;
        border-bottom: solid 1px #000000;
        background-color: #02BFB9;
    }

    .ArrowClose {
        background-image: url(../../Images/collapse_blue.jpg);
        width: 13px;
        height: 13px;
        float: right;
        margin-top: 7px;
        margin-right: 5px;
    }

    .ArrowExpand {
        background-image: url(../../Images/expand_blue.jpg);
        width: 13px;
        height: 13px;
        float: right;
        margin-top: 7px;
        margin-right: 5px;
    }

    .loadingSpinner {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('../../Images/loading-spinner-red.gif') 50% 50% no-repeat;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#fsLabOrderSearch").show();
        GetMemberDetails("0","0", '@ServiceUrl');
    });

    function DateSelectionChanged(e) {
        var birthDate = $("#DOB").val();
        $.ajax({
            url: "/Master/GetAge/",
            data: { birthDate: birthDate },
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                var rs = result.split(';');
                var year = rs[0];
                $("#Age").val(year);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            },
        });
    }
    function EditOptions(MemberID, FirstName, LastName, CountryCode, MobileNumber, DOB, Gender, Email, CountryName, StateName, CityName, Zip, Salutation, CountryID, StateID, CityID, IsTwofactorAuthentication, TwoFactorType) {
  
        $("#fsLabOrderSearch").hide();
        $("#MemberID").val(MemberID);
        var x = MemberID;
        $("#hdnMemberID").val(x);
        $("#divMainMemberDetails").show();

        $("#DivViewMember").show();
        $("#divAddMember").hide();
        $("#DivMemberGrid").hide();
        $("#DivMemberCredentials").show();

        $("#DivUpdate").show();
        $("#FirstName").val(FirstName);
        $("#LastName").val(LastName);
        $("#CountryCode").val(CountryCode);
        $("#MobileNumber").val(MobileNumber);
        var date = kendo.toString(kendo.parseDate(DOB), 'MM/dd/yyyy');
        $("#DOB").val(date);
        calulateage(date);
        $("#Gender").val(Gender);
        if (Gender == 2) {
            document.getElementById("rbtnGenderFemale").checked = true;
        }
        if (Gender == 1) {
            document.getElementById("rbtnGenderMale").checked = true;
        }

        $("#Email").val(Email);
        $("#CountryNameList").val(CountryName);
        $("#CountryName").val(CountryName);
        $("#CountryID").val(CountryID);
        $("#StateNameList").val(StateName);
        $("#StateName").val(StateName);
        $("#StateID").val(StateID);
        $("#CityNameList").val(CityName);
        $("#CityName").val(CityName);
        $("#CityID").val(CityID);
        
        var combinedZip = Zip;
        var postalcode = combinedZip.split('-');
        if (postalcode[1] != null)
        {
            $("#Zip").val(postalcode[0]) + "-" + $("#ZipCode").val(postalcode[1]);
        }
        else {
            $("#Zip").val(postalcode[0]);
        }
       
        $("#Salutation").val(Salutation);
            $('#chk2factor').prop('checked', true);
            $("#divEnableFactor").show();
            if(TwoFactorType == "1")
            {

                $('#rbtnEverytime').prop('checked', true);

            }else if(TwoFactorType == "2")
            {

                $('#rbtnOnlySysChange').prop('checked', true);
            }

        BindCountries('@ServiceUrl', CountryID);
        BindStates('@ServiceUrl', CountryID, StateID);
        BindCites('@ServiceUrl', StateID, CityID);
        BindSalutation(Salutation);
        function MembeDetail()
        {         
            var MemberRegistrationDetails = {   };
            MemberRegistrationDetails.OrganizationID='@Session["OrganizationID"]';
            MemberRegistrationDetails.OrganizationName='@Session["OrganizationName"]';
            MemberRegistrationDetails.RelationshipID = "0";
            MemberRegistrationDetails.RelationshipName = "Self";
            MemberRegistrationDetails.MemberID = $("#hdnMemberID").val();
            AddMembeDetails(MemberRegistrationDetails,"@Session["SystemIPAddress"]",'@ServiceUrl');
        }

        $("#btnSubmit").click(function (e) {
           
            var MemberDetailsvalidate = $("#fsMemberDetails").kendoValidator().data("kendoValidator");
            var MemberCredentialsvalidattion = $("#MemberCredentials").kendoValidator().data("kendoValidator");
            if ($('#chkMemberCredentials').is(":checked") == true) {
                if(MemberDetailsvalidate.validate() && MemberCredentialsvalidattion.validate()){
                    MembeDetail();
                }
            }
            else {
                if (MemberDetailsvalidate.validate()) {
                    MembeDetail();
                } else {
                    return false;
                }
            }
        });
    }
    function calulateage(date) {       
        var birthDate = $("#DOB").val();
        $.ajax({
            url: "/Master/GetAge/",
            data: { birthDate: birthDate },
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                var rs = result.split(';');
                var year = rs[0];
                $("#Age").val(year);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            },
        });
    }
    function setCollapsePanel(dvSearchFilterHeader, dvSearchFilter) {
        $(dvSearchFilter).slideToggle('slow');
        $(dvSearchFilterHeader).find(".ArrowClose:first").remove();
        $("<div class='ArrowExpand'></div>").appendTo(dvSearchFilterHeader);
        isCollapse = 1;
    }
    var isCollapse = 0;
    function CollapsiblePanels() {
        $('#dvSearchFilter').slideToggle('slow');
        if (isCollapse == 0) {
            $("#dvSearchFilterHeader").find(".ArrowClose:first").remove();
            $("<div class='ArrowExpand'></div>").appendTo($("#dvSearchFilterHeader"));
            isCollapse = 1;
        }
        else {
            $("#dvSearchFilterHeader").find(".ArrowExpand:first").remove();
            $("<div class='ArrowClose'></div>").appendTo($("#dvSearchFilterHeader"));
            isCollapse = 0;
        }
        $("#arrow").hide();
    }
    function btnSearch() {

        var MemberID = $("#MemberId").val();
        GetMemberDetails("0", MemberID, '@ServiceUrl');
       // BindOrganizationMembersAutoComplete("0",Text, '@ServiceUrl');
    }
    function btnClear() {
        document.getElementById('MemberName').value = '';
        //to clear grid       
        GetMemberDetails("0", "0", '@ServiceUrl');
    }
</script>

<div id="divViewMember">
    <div class="pageheading_bar" align="center">
        <b>Member</b>
    </div>
    <div class="Panel_bg" id="divMainMemberDetails">

        <div class="row" id="divSignupPopup" style="display: none; align-content:center;">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="Page_Dimmer">
                </div>
                <div class="PopupHolder" style="top:17%;">
                    <div class="Bgheader" width="100%">
                        <div>
                            <span id="SpnPopUpTitle" style="color: White; font-family: Verdana,Tahoma;
                                font-size: 15px; font-weight: bold;">Physician Primary Care Plan</span>
                        </div>
                    </div>
                    <div style="border: Solid 1px #33CCEE; width: 100%;">
                        <div align="left">
                            <img alt="!" id="imgIcon" src="~/Images/Success.png"
                                 style="height: 25px; width: 25px; border-width: 0px;" />
                        </div>
                        <div align="center">
                            <span id="spnPopupMessage" style="color: green; font-family: Verdana,Tahoma; font-size: 14px;
                                font-weight: bold;">
                            </span>
                        </div>
                        <div align="center">
                            <br />
                            <button type="button" id="btnSuccess" onclick="document.location.href = $('#loginUrl').attr('href');" class="button_blue"
                                    style="width: 70px;">
                                Ok
                            </button>
                            <a id="loginUrl" href="@Html.AttributeEncode(Url.Action("ViewMembers", "Admin" ))">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="divErrMessagePopup" style="display: none; position: relative" align="center">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="Page_Dimmer">
                </div>
                <div class="PopupHolder" style="top: 17%;">
                    <div class="Bgheader" width="100%">
                        <div align="center">
                            <span id="SpanErrMsgTitle" style="color: White; font-family: Verdana,Tahoma; font-size: 15px;
                        font-weight: bold;">Physician Primary Care Plan</span>
                        </div>
                    </div>
                    <div style="border: Solid 1px #33CCEE; width: 100%;">
                        <div align="left">
                            <img alt="!" id="Img1" src="~/Images/Error.png" style="height: 25px; width: 25px;
                        border-width: 0px;" />
                        </div>
                        <div align="center">
                            <span id="spnPopupErrMessage" style="color: red; font-family: Verdana,Tahoma; font-size: 14px;
                                font-weight: bold;">
                            </span>
                        </div>
                        <div align="center">
                            <br />
                            <button type="button" id="btnErrPopup" onclick="document.location.href = $('#errorUrl').attr('href');" class="button_blue"
                                    style="width: 70px;">
                                Ok
                            </button>
                            <a id="errorUrl" href="@Html.AttributeEncode(Url.Action("ViewMembers", "Admin" ))">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divSelectPlan">
           
            <fieldset id="fsLabOrderSearch" style="display:none">
                <div class="form-group" style="display:none">
                    <div id="dvSearchFilterHeader" style="cursor: pointer;" onclick="CollapsiblePanels(document.getElementById('dvSearchFilterHeader'),document.getElementById('dvSearchFilter'));"
                         class="PanelTopBar">
                        <span id="4_lblSearchPat" style="font-size:15px;font-weight:normal;color: White;">Search</span>
                        <div style="float: right; margin-top: -5px; color: White; padding: 5px 5px 0 0">
                        </div>
                        <div id="arrow" class="ArrowClose"></div>
                    </div>
                </div>
                <div id="dvSearchFilter" style="display: block;">
                    <div class="Page_Dimmer1">
                    </div>
                    <div class="PopupHolder2" style="height:auto;">

                        <div class="Panel_bg_Sub">
                            <div style="width: 100%;height:auto;">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="display:block">
                                   
                                    <div class="row">
                                        <div class="col-xs-0 col-md-3 col-sm-0 col-lg-4"></div>
                                        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-4">

                                            @(Html.Kendo().AutoComplete()
                                                    .Name("MemberName")
                                                    .Placeholder("Select Member...")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .MinLength(3)
                                                    .DataTextField("MemberName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnMemberNameSelectChange");
                                                        events.Change("OnMemberchangeEvent");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("MemberSearchAutoComplete", "Admin").Data("onAdditionalData");
                                                        }).ServerFiltering(true);
                                                    }))
                                          </div>
                                        </div>
                                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-12" align="center">
                                        <br />
                                        <button type="button" id="btnSearch" title="Search" style="width: 100px;" class="button_blue" value="Search" onclick="btnSearch()">
                                            Search
                                        </button>
                                        <button type="button" id="btnClear" title="Clear" value="Clear" style="width: 100px;" class="button_blue" onclick="btnClear()">
                                            Clear
                                        </button>
                                        <br />
                                        @Html.ValidationMessageFor(model => model.MemberName)
                                        @Html.Hidden("MemberId")
                                        <script type="text/javascript">
                                                    function OnMemberNameSelectChange(e) {
                                                        $("#hdnMemberID").val("");
                                                        $("#MemberId").val("");
                                                        var dataItem = this.dataItem(e.item.index());
                                                        $("#MemberName").val(dataItem.MemberName);
                                                        $("#MemberId").val(dataItem.MemberID);

                                                       // SelectPat(dataItem.Value);
                                                    }
                                                    function OnMemberchangeEvent() {

                                                    }
                                                    function onAdditionalData() {
                                                        return {
                                                            text: $("#MemberName").val()
                                                        };
                                                    }

                                        </script>
                                    </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
             </fieldset>


            <div class="form-group" id="DivMemberGrid">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                        @Html.Hidden("RedirectTo", Url.Action("ViewMemberDetails", "Organization"))
                        @(Html.Kendo().Grid<PPCP07302018.Models.Organization.AddMemberDetails>
                                                    ()
                                                    .Name("ViewMemberGrid")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(p => p.MemberName).Width(100).ClientTemplate(" <a onclick='SelectPat(#= Member_Id # );' <span style=' cursor:pointer'>#: Member_name #</a>").Width(150).Title("Name").Visible(false);
                                                        columns.Bound(p => p.OrganizationName).Title("OrganizationName").Filterable(true).Width(100).Visible(false);
                                                        columns.Bound(p => p.FirstName).Title("FirstName").Filterable(true).Width(130).Visible(false);
                                                        columns.Bound(p => p.LastName).Title("Last Name").Filterable(true).Width(120).Visible(false);
                                                        columns.Bound(p => p.FirstName).Title("Member Name").ClientTemplate("#: FirstName # #: LastName #").Filterable(true).Width(150);
                                                        columns.Bound(p => p.CountryCode).Title("CountryCode").Filterable(true).Width(120).Visible(false);
                                                        columns.Bound(p => p.MobileNumber).Title("MobileNumber").Filterable(true).Width(120);
                                                        columns.Bound(p => p.DOB).Title("DOB").Filterable(true).Width(130).Visible(false);
                                                        columns.Bound(p => p.Age).Title("Age").Filterable(true).Width(120).Visible(false);
                                                        columns.Bound(p => p.Gender).Title("Gender").Filterable(true).Width(120).Visible(false);
                                                        columns.Bound(p => p.Salutation).Title("Salutation").Filterable(true).Width(130).Visible(false);
                                                        // columns.Bound(p => p.SalutationID).Title("SalutationID").Filterable(true).Width(130).Visible(false);
                                                        columns.Bound(p => p.Email).Title("Email").Filterable(true).Width(120).Visible(false);
                                                        columns.Bound(p => p.CountryName).Title("CountryName").Filterable(true).Width(120).Visible(false);
                                                        columns.Bound(p => p.StateName).Title("StateName").Filterable(true).Width(130).Visible(false);
                                                        columns.Bound(p => p.CityName).Title("CityName").Filterable(true).Width(120).Visible(false);
                                                        columns.Bound(p => p.Zip).Title("Zip").Filterable(true).Width(120).Visible(false);
                                                        columns.Bound(p => p.MemberID).Title("MemberID").Filterable(false).Width(100).Visible(false);
                                                        columns.Bound(p => p.CountryID).Title("CountryID").Filterable(false).Width(100).Visible(false);
                                                        columns.Bound(p => p.StateID).Title("StateID").Filterable(false).Width(100).Visible(false);
                                                        columns.Bound(p => p.CityID).Title("CityID").Filterable(false).Width(100).Visible(false);
                                                        columns.Bound(p => p.IsTwofactorAuthentication).Title("IsTwofactorAuthentication").Filterable(false).Width(100).Visible(false);
                                                        columns.Bound(p => p.TwoFactorType).Title("TwoFactorType").Filterable(false).Width(100).Visible(false);
                                                        columns.Bound(p => p).ClientTemplate(
                                                            "<a onclick='EditOptions(#=MemberID#,\"#=FirstName#\",\"#=LastName#\",\"#=CountryCode#\",\"#=MobileNumber#\",\"#=DOB#\",\"#=Gender#\",\"#=Email#\",\"#=CountryName#\",\"#=StateName#\",\"#=CityName#\",\"#=Zip#\",\"#=Salutation#\",\"#=CountryID#\",\"#=StateID#\",\"#=CityID#\",\"#=IsTwofactorAuthentication#\",\"#=TwoFactorType#\");' <span style='cursor:pointer'>View</a>").Title("Action").Width(60).Filterable(false).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal" }).Width(50);



                                                    })
                                                    .Scrollable()
                                                    .Pageable()
                                                    .Filterable()
                                                    .AutoBind(false)
                                                    .HtmlAttributes(new { })
                                                    .Selectable()
                                                    .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .PageSize(5)
                                                    .ServerOperation(false)))
                    </div>
                </div>
            </div>
            <div class="row" id="divErrMessagePopup" style="display: none; position: relative" align="center">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="Page_Dimmer">
                    </div>
                    <div class="PopupHolder" style="top: 17%;">
                        <div class="Bgheader" width="100%">
                            <div align="center">
                                <span id="SpanErrMsgTitle" style="color: White; font-family: Verdana,Tahoma; font-size: 15px;
                        font-weight: bold;">Physician Primary Care Plan</span>
                            </div>
                        </div>
                        <div style="border: Solid 1px #33CCEE; width: 100%;">
                            <div align="left">
                                <img alt="!" id="Img1" src="~/Images/Error.png" style="height: 25px; width: 25px;
                        border-width: 0px;" />
                            </div>
                            <div align="center">
                                <span id="spnPopupErrMessage" style="color: Orange; font-family: Verdana,Tahoma; font-size: 14px;
                                font-weight: bold;">
                                </span>
                            </div>
                            <div align="center">
                                <br />
                                <button type="button" id="btnErrPopup" onclick="document.location.href = $('#errorUrl').attr('href');" class="button_blue"
                                        style="width: 70px;">
                                    Ok
                                </button>
                                <a id="errorUrl" href="@Html.AttributeEncode(Url.Action("AddMember", "Organization" ))">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="display:none;" id="DivViewMember">

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div id="MemberDetails" class="form-group" style="width:100%;">
                        <div class="row">
                            <br />
                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            </div>

                        </div>

                        <fieldset id="fsMemberDetails" style="margin:0px;width:100%; ">
                            <div class="row" id="MemberDetailsvalidate">
                            </div>
                            <br />
                            <div class="row Panel_bg_Sub">
                                <legend class="Legendtxtcolor" style="float: left; font-size: 14px;"><b>Member Details</b>:</legend>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("First Name", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;">*</span><br />
                                                    @Html.TextBoxFor(model => model.FirstName, null, new { style = "width:100%;", maxlength = 50 })
                                                    @*@Html.ValidationMessageFor(model => model.FirstName, "", new { @style = "color:red" })*@
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("Last Name", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;">*</span><br />
                                                    @Html.TextBoxFor(model => model.LastName, null, new { style = "width:100%;", maxlength = 50 })
                                                    @*@Html.ValidationMessageFor(model => model.LastName, "", new { @style = "color:red" })*@
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("Date of Birth", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;">*</span><br />
                                                    @( Html.Kendo().DatePickerFor(model => model.DOB).Format("MM/dd/yyyy").Name("DOB").Value("").Max(DateTime.Today)
                                                    .HtmlAttributes(new { PlaceHolder = "MM/DD/YYYY", style = "width:100%;", Maxlength = "10", type = "text", onkeydown = "return true;" })
                                                    .Events(e => e.Change("DateSelectionChanged"))
                                                    )
                                                    @*@Html.ValidationMessageFor(model => model.DOB, "", new { @style = "color:red" })*@
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("Age", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;">*</span><br />
                                                    @Html.TextBoxFor(model => model.Age, null, new { style = "width:100%;", maxlength = 20, disabled = "disabled", @readonly = "readonly" })
                                                    @*@Html.ValidationMessageFor(model => model.Age, "", new { @style = "color:red" })*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("Gender", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;">*</span><br />
                                                    <label style="font-weight: normal;">
                                                        @(Html.RadioButton("Gender", 1, new
                                                        {
                                                            id = "rbtnGenderMale"
                                                        }))
                                                        Male
                                                    </label>
                                                    <label style="font-weight: normal; margin-left:20px">
                                                        @(Html.RadioButton("Gender", 2, new
                                                        {
                                                            id = "rbtnGenderFemale"
                                                        }))
                                                        Female
                                                    </label>
                                                    @*<br />@Html.ValidationMessageFor(m => m.Gender)*@
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("Salutation", new { style = "font-weight:normal;", @class = "classlabel" })<span style="color: Red;">*</span><br />
                                                    @(Html.Kendo().DropDownListFor(m => m.Salutation)
                                                    .Name("SalutationList").HtmlAttributes(new { style = "width:100%;" })
                                                    .OptionLabel("--Select--")
                                                    .Events(events =>
                                                    {
                                                        events.Select("onSelectSalutation");
                                                    })
                                                    .DataValueField("Value")
                                                    .DataTextField("Text")

                                                    )<br />
                                                    @*@Html.ValidationMessageFor(m => m.Salutation)*@
                                                    @Html.Hidden("SalutationID")
                                                    @Html.HiddenFor(m => m.Salutation)
                                                    <script type="text/javascript">
                                                                //Salutation change event to get SalutationID and Salutation
                                                                function onSelectSalutation(e) {
                                                                    $("#SalutationID").val("");
                                                                    var dataItem = this.dataItem(e.item.index());
                                                                    $("#Salutation").val(dataItem.Text);
                                                                    $("#SalutationID").val(dataItem.Value);
                                                                }
                                                    </script>
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("Email", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;">*</span><br />
                                                    @Html.TextBoxFor(model => model.Email, null, new { style = "width:100%;", maxlength = 50 })
                                                    @*@Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:red" })*@
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("Mobile Number", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;">*</span><br />
                                                    @Html.TextBoxFor(model => model.CountryCode, null, new { style = "width:15%;", maxlength = 2 })
                                                    @Html.Label("-", new { style = "font-weight:normal;", @class = "labelColor" })
                                                    @Html.TextBoxFor(model => model.MobileNumber, null, new { style = "width:75%;", maxlength = 10, @class = "Text" })
                                                    @*@Html.ValidationMessageFor(model => model.CountryCode, "", new { @style = "color:red" })
                                                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @style = "color:red" })*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("Country", new { style = "font-weight:normal;", @class = "labelColor" })<span style="color: Red;">*</span><br />
                                                    @(Html.Kendo().DropDownListFor(model => model.CountryName)
                                                    .Name("CountryNameList")
                                                    .OptionLabel("--Select--")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataValueField("CountryId")
                                                    .DataTextField("CountryName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnCountrySelectChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                                    <br />

                                                    @*@Html.ValidationMessageFor(model => model.CountryName)*@
                                                    @Html.HiddenFor(model => model.CountryID)
                                                    @Html.HiddenFor(model => model.CountryName)
                                                    <script type="text/javascript">
                                                                //Country change event to get CountryName and CountryId
                                                                function OnCountrySelectChange(e) {
                                                                    var dataItem = this.dataItem(e.item.index());
                                                                    $("#CountryName").val(dataItem.CountryName);
                                                                    $("#CountryID").val(dataItem.CountryId);
                                                                    var CountryID = $("#CountryID").val();
                                                                    @*BindStates(CountryID,'@ServiceUrl');*@
                                                                    BindStates('@ServiceUrl', CountryID, 0)
                                                                }
                                                    </script>
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("State", new { style = "font-weight:normal;", @class = "labelColor" })<span style="color: Red;">*</span><br />
                                                    @(Html.Kendo().DropDownListFor(m => m.StateName)
                                                    .Name("StateNameList")
                                                    .OptionLabel("--Select--")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataValueField("StateID")
                                                    .DataTextField("StateName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnStateSelectChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                                    <br />
                                                    @*@Html.ValidationMessageFor(m => m.StateName)*@
                                                    @Html.HiddenFor(m => m.StateID)
                                                    @Html.HiddenFor(m => m.StateName)
                                                    <script type="text/javascript">
                                                                //Country State event to get StateName and StateID
                                                                function OnStateSelectChange(e) {
                                                                    $("#StateID").val("");
                                                                    var dataItem = this.dataItem(e.item.index());
                                                                    $("#StateName").val(dataItem.StateName);
                                                                    $("#StateID").val(dataItem.StateID);
                                                                    var StateID = $("#StateID").val();
                                                                    @*BindCities(StateID,'@ServiceUrl');*@
                                                                    BindCites('@ServiceUrl', StateID, 0)
                                                                }
                                                    </script>
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("City", new { style = "font-weight:normal;", @class = "labelColor" })<span style="color: Red;">*</span><br />
                                                    @(Html.Kendo().DropDownListFor(m => m.CityName)
                                                    .Name("CityNameList")
                                                    .OptionLabel("--Select--")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataValueField("CityID")
                                                    .DataTextField("CityName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnCitySelectChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                                    <br />
                                                    @*@Html.ValidationMessageFor(m => m.CityName)*@
                                                    @Html.HiddenFor(m => m.CityID)
                                                    @Html.HiddenFor(m => m.CityName)
                                                    <script type="text/javascript">
                                                                //City change event to get CityName and CityID
                                                                function OnCitySelectChange(e) {
                                                                    $("#CityID").val("");
                                                                    var dataItem = this.dataItem(e.item.index());
                                                                    $("#CityName").val(dataItem.CityName);
                                                                    $("#CityID").val(dataItem.CityID);
                                                                }
                                                    </script>
                                                </div>
                                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                                    @Html.Label("ZIP / Postal Code", new { style = "font-weight:normal;", @class = "classlabel" })<span style="color: Red;">*</span><br />
                                                    @Html.TextBoxFor(m => m.Zip, new { style = "width:50%;Height:25px", maxlength = "5" })-
                                                    @Html.TextBoxFor(m => m.ZipCode, new { style = "width:40%;Height:25px", maxlength = "4" })
                                                    <br />
                                                    <span style="font-weight:normal;">5-digit ZIP</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <span style="font-weight:normal;"> 4-digit ZIP </span><br />
                                                    @*@Html.ValidationMessageFor(m => m.Zip)
                                                        @Html.ValidationMessageFor(m => m.ZipCode)*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <div class="row Panel_bg_Sub" style="display:none;" id="DivMemberCredentials">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                    @*@Html.CheckBox("chkMemberCredentials", false)&nbsp;*@
                                    <legend class="Legendtxtcolor" style="float: left; font-size: 14px;"><b>Member Credentials</b>:</legend>

                                </div>
                            </div>


                            <div class="form-group">

                                <div class="row" id="MemberCredentials" style="display:block">

                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                            @Html.CheckBox("chk2factor", false)&nbsp;<b>Enable 2-factor authentication</b>
                                        </div>
                                    </div>
                                    <div class="row" id="divEnableFactor">
                                        <div class="col-xs-10 col-md-3 col-sm-6 col-lg-10">
                                            <label style="font-weight: normal;">
                                                @(Html.RadioButton("ChkList", 1, new
                                                {
                                                    id = "rbtnEverytime",
                                                }))
                                                Everytime
                                            </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <label style="font-weight: normal;">
                                                @(Html.RadioButton("ChkList", 2, new
                                                {
                                                    id = "rbtnOnlySysChange"
                                                }))
                                                Only when system change
                                            </label>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" style="display:none;" id="DivUpdate">
                            <div class="col-xs-12 col-md-12 col-sm-12" align="center">
                                <button class="button_blue" type="submit" id="btnSubmit" title="Submit" style="width: 100px;" value="Submit">
                                    Update
                                </button>
                                <button class="button_blue" type="button" id="btnCancel" title="Cancel" value="Cancel" style="width: 100px;" onclick="@("window.location.href='" + @Url.Action("ViewMembers", "Admin") + "'");">
                                    Cancel
                                </button>
                            </div>
                            <br />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



