@model PPCP07302018.Models.Member.MemberDetails
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using System.Web.Mvc
@{
    ViewBag.Title = "MemberRegistration";
    Layout = "~/Views/Shared/WUCOrgLeftMenu.cshtml";
    var ServiceUrl = (System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"].ToString());
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/KendoScripts")
@Scripts.Render("~/bundles/custom-validator")
@Styles.Render("~/bundles/Kendocss")
@Scripts.Render("~/bundles/MemberScriptFiles")   @*For member script files*@
@Styles.Render("~/bundles/Membercssfiles")       @*For member css files*@
<script type="text/javascript">
    $(document).ready(function () {
        var PlanID = 0; var MemberID = 0; var OrganizationID =  '@Session["OrganizationID"]'; var ProviderID = 0;
        BindPlansGrid(PlanID, MemberID, OrganizationID, ProviderID, '@ServiceUrl');
    });
    function SearchPlan() {
        if ($('#searchforplan').css('display') == 'none') {
            var OrganizationID = 1 @*'@Session["OrganizationID"]'*@;
            BindProviderNames(OrganizationID);
            $("#searchforplan").show();
            return false;
        }
        else {
            $("#searchforplan").hide();
            return false;
        }
    }
    function ViewOrganizationCard(MemberID, PlanId, OrganizationID) {
        var getUrl = '@Url.Action("GenerateOrganizationCard", "Organization")';
        var uurl = getUrl + "?OrganizationID=" + OrganizationID + "&PlanID=" + PlanId;
        window.location = uurl;
        
        }
</script>
<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="divMain" style="margin-top:0px;">
    <fieldset id="fsMain" style="margin:0px;width:100%;">
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <a href="" onclick='return SearchPlan();' style="font-size:16px;font-weight:bold;">Search for plan</a>
                </div>
            </div>
            <div id="searchforplan" style="display:none;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            <br />
                            <div class="row">                                
                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                    @Html.Label("Provider Name", new { style = "font-weight:normal;", @class = "" })<br />
                                    @(Html.Kendo().AutoCompleteFor(model => model.ProviderName)
                                                    .Name("ProviderName")
                                                    .Placeholder("Select Provider...")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataTextField("ProviderName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnProviderSelectChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                    <br />
                                    @Html.ValidationMessageFor(model => model.ProviderName)
                                    @Html.Hidden("ProviderId")
                                    <script type="text/javascript">
                                        function OnProviderSelectChange(e) {
                                            $("#ProviderId").val("");
                                            var dataItem = this.dataItem(e.item.index());
                                            $("#ProviderName").val(dataItem.ProviderName);
                                            $("#ProviderId").val(dataItem.ProviderId);
                                            var OrganizationID = 1 @*'@Session["OrganizationID"]'*@;
                                            var ProviderID = $("#ProviderId").val();
                                            var PlanID = 0;
                                            BindPlanNames(OrganizationID, ProviderID, PlanID);
                                        }
                                    </script>
                                </div>
                                <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                    @Html.Label("Plan Name", new { style = "font-weight:normal;", @class = "" })<br />
                                    @(Html.Kendo().AutoCompleteFor(model => model.PlanName)
                                                    .Name("PlanName")
                                                    .Placeholder("Select Plan...")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataTextField("PlanName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnPlanSelectChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                    <br />
                                    @Html.ValidationMessageFor(model => model.PlanName)
                                    @Html.Hidden("PlanId")
                                    <script type="text/javascript">
                                        function OnPlanSelectChange(e) {
                                            var dataItem = this.dataItem(e.item.index());
                                            $("#PlanName").val(dataItem.PlanName);
                                            $("#PlanId").val(dataItem.PlanId);
                                            $("#divSearchPlanNext").show();
                                            var OrganizationID = 1 @*'@Session["OrganizationID"]'*@;
                                            var ProviderID = $("#ProviderId").val();
                                            var PlanID = $("#PlanId").val(); var MemberID = 0;
                                            BindPlansGrid(PlanID, MemberID, OrganizationID, ProviderID,'@ServiceUrl');
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-0 col-md-10 col-sm-0 col-lg-10"></div>
                <div class="col-xs-12 col-md-2 col-sm-12 col-lg-2">
                    <button class="button_blue" type="submit" id="btnEnrollPlan" title="Enroll Plan" style="width: 100px;" value="EnrollPlan" onclick="@("window.location.href='" + @Url.Action("PlanEnroll", "Member") + "'");">
                        Enroll Plan
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    @(Html.Kendo().Grid<PPCP07302018.Models.Member.MemberDetails>()
                                                .Name("PlansGrid")
                                                .Columns(columns =>
                                                {
                                                    columns.Bound(p => p.MemberID).Title("MemID").Filterable(false).Visible(false);
                                                    columns.Bound(p => p.PlanID).Title("PlanID").Filterable(false).Visible(false);
                                                    columns.Bound(p => p.OrganizationID).Title("OrganizationID").Filterable(false).Visible(false);
                                                   // columns.Bound(p => p.PlanId).Title("Amount Paid").Filterable(false).Width(150).Visible(false);
                                                    columns.Bound(p => p.PlanName).Title("Plan Name").Filterable(true).Width(100);
                                                    columns.Bound(p => p.Duration).Title("Duration(in months)").Filterable(true).Width(130);
                                                    columns.Bound(p => p.ProviderName).Title("Provider Name").Filterable(true).Width(120);
                                                    columns.Bound(p => p.TotalAmount).Title("Plan Amount").Filterable(true).Width(120);
                                                    columns.Bound(p => p.Status).Title("Plan Status").Filterable(true).Width(120);
                                                    columns.Bound(p => p.AmountPaid).Title("Amount Paid").Filterable(true).Width(120);
                                                    columns.Bound(p => p).Title("Payment").Filterable(false).Width(75);
                                                    //columns.Bound(p => p).Title("Receipt").Filterable(false).Width(75);
                                                    columns.Bound(p => p).ClientTemplate(
"<a onclick = 'ViewOrganizationCard(#=MemberID#,#=PlanID#,\"#=OrganizationID#\");'  <span style='cursor:pointer'>Print</a>").Title("Receipt").Width(60).Filterable(false).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal" }).Width(150);
                                                    //onclick = 'ViewOrganizationCard(#=MemberID#,#=Plan_Code#,\"#=OrganizationID#\");'
                                                })
                                                .Scrollable()
                                                .AutoBind(false)
                                                .Pageable()
                                                .HtmlAttributes(new { })
                                                .Selectable()
                                                .Filterable()
                                                .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(5)
                                                .ServerOperation(false)))
                </div>
            </div>
        </div>
    </fieldset>
</div>
