@model PPCP07302018.Models.Member.MemberDetails
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using System.Web.Mvc
@{
    ViewBag.Title = "PlanEnroll";
    Layout = "~/Views/Shared/BaseMaster.cshtml";
    var ServiceUrl = (System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"].ToString());
    var AttachedLink = (System.Configuration.ConfigurationManager.AppSettings["AttachedLink"].ToString());
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/KendoScripts")
@Scripts.Render("~/bundles/custom-validator")
@Styles.Render("~/bundles/Kendocss")
@Scripts.Render("~/bundles/PlanEnrollScriptFiles")   @*For member script files*@
@Styles.Render("~/bundles/Membercssfiles")       @*For member css files*@

<style>
    .loadingSpinner {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('../../Images/loading-spinner-red.gif') 50% 50% no-repeat;
    }
</style>
<div>
    @Html.Hidden("CardID")
    @Html.Hidden("CVV1")
    @Html.Hidden("TempValue")
    @Html.Hidden("TextBoxTempValue")
    @Html.Hidden("TempSelectRadio")
    @Html.Hidden("hdnGetDOB")
    @Html.Hidden("hdnAge")
    @Html.Hidden("hdnGender")
    @Html.Hidden("hdnFamilyIndividual")


</div>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        BindOrganizations('@ServiceUrl');
        BindProviderNames(0,'@ServiceUrl');
        BindPlanNames(0, 0,0,0,0,0,'@ServiceUrl');
        GetFamilyDetails('@Session["MemberParentID"]', '@ServiceUrl');
        document.getElementById("OneTime").disabled = true;

        GetStripeCardDetails('@ServiceUrl');
        $("#ChangeSearchPlan").click(function(e){
            $("#PlansGrid").data("kendoGrid").dataSource.data("");
            $("#divSelectPlan").hide();
            $("#OrganizationNames").data("kendoAutoComplete").destroy();
            $("#PlanNames").data("kendoAutoComplete").destroy();
            $("#ProviderNames").data("kendoAutoComplete").destroy();
            BindOrganizations('@ServiceUrl');
            BindProviderNames(0,'@ServiceUrl');
            BindPlanNames(0, 0,0,0,0,0,'@ServiceUrl');
        });
        $("#btnstepNext").click(function (e) {                          //Next button click logic after search (in Step2)
            debugger;
            var PaymentSchedule = document.getElementById("Paymentschedule").innerText;
            if (PaymentSchedule != "") {
                e.preventDefault();
                $("#SearchPlan").hide();
                $("#EnrollPlan").show();
                $("#divGetEnroll").hide();
                $("#divCarddetails").show();
                $('#chkPayNow').is(":checked") == true;
                $('input[name="chkPayNow"]').attr('checked', true);
                var Amount=document.getElementById("spnInstalmentAmt").innerText;
                var InstalmentAmount=document.getElementById("spnInstalmentFee").innerText;
                var EnrollFee=document.getElementById("spnEnrollFee").innerText;
                if(PaymentSchedule =="One Time"){
                    $("#divinstAmt").hide();

                    var  TotalAmount=0;
                    try {

                        TotalAmount=parseFloat(Amount)+parseFloat(EnrollFee);

                        //TotalAmount=parseFloat(Amount)+parseFloat(InstalmentAmount);
                    }catch(err){

                    }
                }
                else{$("#divinstAmt").show();

                    TotalAmount=parseFloat(Amount)+parseFloat(InstalmentAmount)+parseFloat(EnrollFee);
                }
                // var Amount=document.getElementById("spnInstalmentAmt").innerText;
                $("#AmountPaid").val(TotalAmount);

            }
            else {
                $("#divValidator").show();
                document.getElementById("PlanPaymentValidation").innerHTML = "Please select any payment schedule"; return false;
            }
        });
        $("#btnstepBack").click(function (e) {                          //Back button click logic (from step3 to step2)
            e.preventDefault();
            $("#SearchPlan").show();
            $("#EnrollPlan").hide();
            $("#divGetEnroll").show();
        });
        $("#chkPayNow").click(function () {
            if ($('#chkPayNow').is(":checked") == true) {
                var  TotalAmount=0;
                try {
                    var Amount=document.getElementById("spnInstalmentAmt").innerText;
                    var InstalmentAmount=document.getElementById("spnInstalmentFee").innerText;
                    var EnrollFee=document.getElementById("spnEnrollFee").innerText;
                    TotalAmount=parseFloat(Amount)+parseFloat(InstalmentAmount)+parseFloat(EnrollFee);
                    //TotalAmount=parseFloat(Amount)+parseFloat(InstalmentAmount);
                }catch(err){

                }
                // var Amount=document.getElementById("spnInstalmentAmt").innerText;
                $("#AmountPaid").val(TotalAmount);

                $("#AmountPaid").val(TotalAmount);
                $("#divCarddetails").show();
            } else if ($('#chkPayNow').is(":checked") == false) {
                $("#AmountPaid").val("");
                $("#divCarddetails").hide();
            }
        });
        var EnrollPlanValidator = $("#EnrollPlan").kendoValidator().data("kendoValidator");
        $("#btnSubmit").click(function (e) {
            debugger
            if ($('#chkPayNow').is(":checked") == true) {
                debugger;
                if($("#TempSelectRadio").val()=="1" || $("#TempSelectRadio").val()==""){
                    // document.getElementById("SpnValidationErrorMessage").innerHTML = "";

                    var fsBankdetails= $("#fsBankdetails").kendoValidator().data("kendoValidator");
                    if(fsBankdetails.validate()){
                        var CardNo=$("#CardID").val();
                        $("#CardID").val("");
                        EnrollPlanDetails();
                        //if($('#OneTime').is(":checked") == true){
                        //    $("#spnCheckErrorMessages").hide();
                        //    EnrollPlanDetails();
                        //}
                        //else{
                        //    $("#spnCheckErrorMessages").show();
                        //}
                    }
                    else{

                        return false;
                    }
                }else{
                    var CardNo=$("#CardID").val();
                    $("#CardID").val(CardNo);
                    $("#CVV").val("");
                    $("#CardNumber").val("");
                    EnrollPlanDetails();
                    //if($('#OneTime').is(":checked") == true){
                    //    $("#spnCheckErrorMessages").hide();
                    //    EnrollPlanDetails();
                    //}
                    //else{
                    //    $("#spnCheckErrorMessages").show();
                    //}

                }


                @*//var AmountValidation = document.getElementById("spnAmountPaid").innerText;
                if (EnrollPlanValidator.validate() ) { //&& AmountValidation == ""
                    var MemberRegistrationDetails =@Html.Raw(Json.Encode(@Model));
                    MemberRegistrationDetails.MemberID='@Session["MemberID"]';
                    MemberRegistrationDetails.MemberName='@Session["MemberName"]';
                    EnrollPlanDetails();
                }
                else {
                    return false;
                }*@
            }
            else {
                var MemberRegistrationDetails =@Html.Raw(Json.Encode(@Model));
                MemberRegistrationDetails.MemberID='@Session["MemberID"]';
                MemberRegistrationDetails.MemberName='@Session["MemberName"]';

                //if($('#OneTime').is(":checked") == true){

                //    $("#spnCheckErrorMessages").hide();
                //    EnrollPlanDetails();
                //}
                //else{
                //    if($('#OneTime').is(":checked") == true){
                //        $("#spnCheckErrorMessages").hide();
                //        EnrollPlanDetails();
                //    }
                //    else{
                //        $("#spnCheckErrorMessages").show();
                //    }
                //}

            }
        });
    });

    function ChckOneTime() {
        if ($('#OneTime').is(":checked") == true) {
            $("#spnCheckErrorMessages").hide();
        }
        else {
            $("#spnCheckErrorMessages").show();
        }
    }
    function AddMonths(Months){

        debugger;
        var dt = new Date($("#PlanStartDate").val());
        dt.setMonth( dt.getMonth() + parseInt(Months));
        $("#spnPlanEndDate").val((dt.getMonth() + 1) + '/' + dt.getDate() + '/' +  dt.getFullYear());
        document.getElementById("spnPlanEndDate").innerHTML=$("#spnPlanEndDate").val();
        document.getElementById("spnPlanStartDate").innerHTML=$("#PlanStartDate").val();
    }
    function btnErrorClose(){
        $("#divErrMessagePopup").hide();
    }
    function btnchnagesearch()
    {
        buttonchangesrarch('@ServiceUrl');
    }

    function EnrollPlanDetails()
    {
        debugger;
        var MemberRegistrationDetails =@Html.Raw(Json.Encode(@Model));
        MemberRegistrationDetails.MemberID='@Session["MemberID"]';
        // MemberRegistrationDetails.='@Session["MemberID"]';
        MemberRegistrationDetails.MemberName='@Session["MemberName"]';
        MemberRegistrationDetails.MemberParentID='@Session["MemberParentID"]';
        MemberRegistrationDetails.OrganizationName=document.getElementById("spnSelectedOrganization").innerText;
        MemberRegistrationDetails.OrganizationID=document.getElementById("SpOrganizationID").innerText;
        MemberRegistrationDetails.ProviderName=document.getElementById("SpProviderName").innerText;
        MemberRegistrationDetails.ProviderID=document.getElementById("SpProviderID").innerText;
        MemberRegistrationDetails.PlanName=document.getElementById("spnSelectedPlan").innerText;
        MemberRegistrationDetails.PlanID=document.getElementById("PlanID").innerText;
        MemberRegistrationDetails.PlanStartDate=$("#PlanStartDate").val();
        MemberRegistrationDetails.PlanEndDate=$("#spnPlanEndDate").val();
        MemberRegistrationDetails.Paymentschedule=document.getElementById("Paymentschedule").innerText;
        MemberRegistrationDetails.NoofInstallments=document.getElementById("spnNoofInstalments").innerText;
        MemberRegistrationDetails.InstallmentAmount=document.getElementById("spnInstalmentAmt").innerText;
        MemberRegistrationDetails.InstallmentFee=document.getElementById("InstallmentFee").innerText;
        MemberRegistrationDetails.Savings=document.getElementById("Savings").innerText;
        MemberRegistrationDetails.PlanType=$("#hdnFamilyIndividual").val();
        MemberRegistrationDetails.StripeAccountID=document.getElementById("spnStripeAccountID").innerText;
        MemberRegistrationDetails.CommPPCP=document.getElementById("spnCommPPCP").innerText;
        MemberRegistrationDetails.CommPrimaryMember=document.getElementById("spnCommPrimaryMember").innerText;
        MemberRegistrationDetails.EnrollFee = document.getElementById("spnEnrollFee").innerText;
        var amountpaid="";
        if ($('#chkPayNow').is(":checked") == true) {
            if($("#TempSelectRadio").val()=="1" || $("#TempSelectRadio").val()==""){
                MemberRegistrationDetails.CardNumber=$("#CardNumber").val();
                MemberRegistrationDetails.NameOnCard=$("#NameOnCard").val();
                MemberRegistrationDetails.MM=$("#MM").val();
                MemberRegistrationDetails.YY=$("#YY").val();
                MemberRegistrationDetails.CVV=$("#CVV").val();
                MemberRegistrationDetails.CardID="";
            }else{
                MemberRegistrationDetails.CardID=$("#CardID").val();
                MemberRegistrationDetails.CardNumber="";
                MemberRegistrationDetails.NameOnCard="";
                MemberRegistrationDetails.MM="";
                MemberRegistrationDetails.YY="";
                MemberRegistrationDetails.CVV="";
            }

            amountpaid=$("#AmountPaid").val();
            MemberRegistrationDetails.AmountPaid=$("#AmountPaid").val();
        }
        //  var tAmount=document.getElementById("spnPlanAmount").innerText;
        var tAmount =parseInt(document.getElementById("spnPlanAmount").innerText) + parseInt(MemberRegistrationDetails.InstallmentFee) +parseInt(MemberRegistrationDetails.EnrollFee);
  
        MemberRegistrationDetails.TotalAmount=tAmount;
        if(amountpaid=="")
        {
            MemberRegistrationDetails.AmountPaid=0;
            MemberRegistrationDetails.DueAmount=tAmount;
            MemberRegistrationDetails.Status="Pending";
        }
        else{
            MemberRegistrationDetails.AmountPaid=$("#AmountPaid").val();
            var dueamount=tAmount-amountpaid;
            if(dueamount==0.0)
            {
                MemberRegistrationDetails.DueAmount=dueamount;
                MemberRegistrationDetails.Status="Paid";
            }
            else{
                MemberRegistrationDetails.DueAmount=dueamount;
                MemberRegistrationDetails.Status="Partially Paid";
            }
        }


        MemberRegistrationDetails.Duration=document.getElementById("spnDuration").innerText;
        if (MemberRegistrationDetails != null) {
            EnrollPlan(MemberRegistrationDetails,'@ServiceUrl');
        }
        else {
            return false;
        }
    }
    function ValidateAmountPaid(AmountPaid)
    {
        if(AmountPaid=="")
        {
            document.getElementById("spnAmountPaid").innerHTML = "Please enter amount";return false;
        }
        else{
            var totalamount=document.getElementById("TotalAmount").innerText;
            if(totalamount==AmountPaid || totalamount>AmountPaid)
            {
                document.getElementById("spnAmountPaid").innerHTML ="";
            }
            else{
                document.getElementById("spnAmountPaid").innerHTML ="Please check your amount";return false;
            }
        }
    }
    function onDataBound() {
        // debugger;
        var grid = this;
        $("[name='PlanID']").change(function (e) {
            var row = $(e.target).closest("tr");
            var dataItem = grid.dataItem(row);
            grid.select(row);
            var PlanID = dataItem.PlanID;
            document.getElementById("PlanID").innerHTML = PlanID;
            document.getElementById("spnSelectedPlan").innerHTML = dataItem.PlanName;
            document.getElementById("spnSelectedOrganization").innerHTML = dataItem.OrganizationName;
            document.getElementById("SpProviderName").innerHTML = dataItem.ProviderName;
            document.getElementById("SpOrganizationID").innerHTML = dataItem.OrganizationID;
            document.getElementById("SpProviderID").innerHTML = dataItem.ProviderID;
            document.getElementById("spnVisitFee").innerHTML = dataItem.VisitFee;
            document.getElementById("spnEnrollFee").innerHTML = dataItem.EnrollFee;
            document.getElementById("spnDuration").innerHTML = dataItem.PlanTermName;
            document.getElementById("spnPlanType").innerHTML = "Individual";
            document.getElementById("spnEligibility").innerHTML =dataItem.VisitFee+"Y - "+dataItem.ToAge+"Y";
            document.getElementById("spnMonthlyPlanFee").innerHTML =dataItem.Amount;
            document.getElementById("spnVisitFee").innerHTML =dataItem.VisitFee;
            document.getElementById("spnPlanDescription").innerHTML =dataItem.PlanDescription;
            document.getElementById("spnPlanTermMonths").innerHTML =dataItem.PlanTermMonths;
            document.getElementById("spnMemberTermsAndConditions").innerHTML =dataItem.PatientTAndCPath;
            document.getElementById("spnCommPPCP").innerHTML = dataItem.CommPPCP;
            document.getElementById("spnCommPrimaryMember").innerHTML = dataItem.CommPrimaryMember;


            // document.getElementById("PlanStartDate").innerHTML =dataItem.PlanStartDate;
            //document.getElementById("spnPlanEndDate").innerHTML =dataItem.PlanEndDate;
            // document.getElementById("spnSchedule").innerHTML =dataItem.PaymentSchedule;

            //To get selected Plan payment information
            var OrganizationID = dataItem.OrganizationID;
            var ProviderID = dataItem.ProviderID;
            var MemberCount= $("#SelectedMemberCount").val();
            debugger;
            var MemberAge=$("#hdnAge").val();
            var MemberGernder=$("#hdnGender").val();
            var PlanType=$("#hdnFamilyIndividual").val();
            BindPlans(OrganizationID, ProviderID, PlanID,MemberCount,MemberAge,MemberGernder,PlanType, '@ServiceUrl');
        });
    }
    function onPlansPaymentDataBound() {
        // debugger;
        var Paymentgrid = this;
        $("[name='Paymentschedule']").change(function (e) {
            var row = $(e.target).closest("tr");
            var dataItem = Paymentgrid.dataItem(row);
            Paymentgrid.select(row);
            if(dataItem.Paymentschedule=="Quarterly"){
                dataItem.Paymentschedule="Quaterly";
            }
            document.getElementById("Paymentschedule").innerHTML = dataItem.Paymentschedule;
            document.getElementById("spnPaymentschedule").innerHTML = dataItem.Paymentschedule;

            document.getElementById("spnInstalmentAmt").innerHTML = dataItem.InstallmentAmount;
            document.getElementById("spnPlanAmount").innerHTML = dataItem.TotalAmount;
            document.getElementById("InstallmentFee").innerHTML = dataItem.InstallmentFee;
            document.getElementById("Savings").innerHTML = dataItem.Savings;

            document.getElementById("spnNoofInstalments").innerHTML = dataItem.NoofInstallments;
            document.getElementById("spnStripeAccountID").innerHTML = dataItem.AccountID;
            document.getElementById("spnInstalmentFee").innerHTML = dataItem.InstallmentFee;



            //document.getElementById("NoofInstallments").innerHTML = dataItem.NoofInstallments + " Installments";
            //document.getElementById("Installments").innerHTML = dataItem.NoofInstallments;

            $("#divValidator").hide();
            document.getElementById("PlanPaymentValidation").innerHTML = "";
            var Months=document.getElementById("spnPlanTermMonths").innerHTML;
            AddMonths(Months);
            debugger;
        });
    }

    function GetEnrollMemberDetails(memberId,firstname,lastname,DOb,Gender,individualFamily)
    {
        $("#hdnFamilyIndividual").val(individualFamily);
        debugger;
        $.ajax({
            type: "GET",
            url: '/Member/SaveEnrollSelectedMembers',
            dataType: "json",
            data: {Members:memberId,MemberName:firstname + " "+ lastname,GenderID:Gender,MemberAge:DOb},
            contentType: "application/json",
            success: function (data) {
                debugger;
                var obj=[];
                obj[0]=data;
                var hdnAge="",hdnGender="";
                for(i=0;i<data.length;i++){
                    hdnAge=hdnAge+data[i].Age+",";
                    hdnGender=hdnGender+data[i].GenderID+",";
                }
                $("#hdnAge").val(hdnAge);
                $("#hdnGender").val(hdnGender);
                $("#SelectedMemberCount").val(data.length);

                if ($("#chkIndividuals").is(":checked")) {
                    $("#SearchPlan").show();
                    document.getElementById("spnValidationMember").innerHTML = "";
                }
                else if ($("#chkFamilyMember").is(":checked")) {
                    if(obj[0].length>=2){
                        document.getElementById("spnValidationMember").innerHTML = "";
                        $("#SearchPlan").show();
                    }else{
                        document.getElementById("spnValidationMember").innerHTML = "Please select minimum 2 Members for enroll family plan";
                        $("#SearchPlan").hide();
                    }
                }

            }
        });

    }

    function Individuals() {
        debugger;
        $("#divIndividual").show();
        $("#divFamilyMember").hide();
        document.getElementById('chkFamilyMember').checked=false;
        Uncheck();
        RemoveUncheck();
    }
    function FamilyMember() {
        debugger;
        $("#divIndividual").hide();
        $("#divFamilyMember").show();
        document.getElementById('chkIndividuals').checked=false;
        UncheckRadio();
        RemoveUncheck();

    }
    function Uncheck() {
        debugger;
        $("#chkFamilyMember").click(function () {
            $("#IndividualsMemberGrid").find("input[type='radio']").prop('checked', false);


        });
    }
    function UncheckRadio() {
        debugger;
        $("#chkIndividuals").click(function () {
            $("#FamilyMemberGrid").find("input[type='checkbox']").prop('checked', false);

        });
    }




    function RemoveUncheck(){
        $("#SearchPlan").hide();
        debugger;
        $.ajax({
            type: "GET",
            url: '/Member/RemoveEnrollSelectedMembers',
            dataType: "json",
            data: {},
            contentType: "application/json",
            success: function (data) {

            }
        });
    }

</script>

<script type="text/javascript">
    function GetStripeCardDetails(ServiceUrl) {
        debugger;
        //var ConsultFee = $("#eConsultfee").val();
        var webMethodName = "GetStripCardDetails";
        var ParameterNames = new Array();
        var ParameterValues = new Array();
        ParameterNames[0] = "CustomerID";
        ParameterValues[0] = '@Session["StripeCustomerID"]';
        var jsonPostString = setJsonParameter(ParameterNames, ParameterValues, webMethodName);
        var Url = '@ServiceUrl' + "Member";
        $.ajax({
            type: 'POST',
            url: Url,
            data: jsonPostString,
            dataType: "text",
            contentType: "application/json",
            success: function (data, textStatus, jqXHR) {
                debugger;
                var obj = jQuery.parseJSON(data);
                var TestsList = obj[0];
                if (TestsList.length != 0) {
                    $("#TempValue").val(2);
                    var jsonResult = "";
                    for (var r in TestsList) {
                        jsonResult += "<input type='radio' name='" + "CardsList" + "' value='" + TestsList[r].Id+","+TestsList[r].Last4+","+TestsList[r].Name + "' onclick='" + "check(this.value)" + "'  />" + "&nbsp;" + TestsList[r].Brand + " **** **** **** " + TestsList[r].Last4 + "&nbsp;&nbsp;&nbsp;&nbsp;" + "<br />" +
                            "<label for='" + TestsList[r].Name + "'>" + TestsList[r].Name + "</label>" + "<br />" +
                            "<label for='" + TestsList[r].Name + "'>" + "Expires " + +TestsList[r].ExpirationMonth + "/" + TestsList[r].ExpirationYear + "</label>" + "<br />" +
                            //"<label for='" + TestsList[r].Name + "'>" + "Amount Charged ($) " + ConsultFee + "</label>" + "<br />" +
                            //"<input type='text' name='" + TestsList[r].Id + "' value='" + "" + "' id='" + TestsList[r].Id + "' style='display:none;width:100px' maxlength='" + 3 + "' placeholder='" + "Enter CVV" + "' onchange='" + "onChangeTest(this.value)" + "'/>"
                             "<br />"
                    }

                    jsonResult += "<input type='radio' name='" + "CardsList" + "' value='" + 0 + "' onclick='" + "check(this.value)" + "'  />" + "Add New Card " + " <br />";
                    $("#TextBoxTempValue").val(TestsList[r].Id);
                    document.getElementById("divCardSelect").style.display = "block";
                }
                else {
                    $("#TempValue").val(1);
                    document.getElementById("divCardSelect").style.display = "none";
                    document.getElementById("divbankdetails").style.display = "block";
                }
                $("#divCardList").html(jsonResult);
                if (TestsList.length != 0) {
                    check(TestsList[0].Id+","+TestsList[0].Last4+","+TestsList[0].Name);
                    $("input[name=CardsList][value='" + TestsList[0].Id+","+TestsList[0].Last4+","+TestsList[0].Name + "']").attr('checked', true);


                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    }

    function check(CardsList) {
        debugger;
        document.getElementById("spnValidationMsg").innerText = "";
        //   document.getElementById("" + $("#TextBoxTempValue").val() + "").style.display = 'none';
        if (CardsList == 0) {
            document.getElementById("divbankdetails").style.display = "block";
            $("#TempSelectRadio").val("1");
            //$("#memberDetails_TempCardNumber").val("");
            //$("#memberDetails_TempNameOnCard").val("");
        }
        else {

            var arr =CardsList;
            var arr_val=arr.split(',');
            $("#CardID").val(arr_val[0]);

            // $("#memberDetails_TempCardNumber").val(arr_val[1]);
            // $("#memberDetails_TempNameOnCard").val(arr_val[2]);
            var CardValue = $("#CardID").val();
            $("#PaymentDetails_CardID").val(CardsList);

            $("#PaymentDetails_CustomerID").val('@Session["StripeCustomerID"]');
            // document.getElementById("" + CardsList + "").style.display = 'block';
            $("#TextBoxTempValue").val(CardsList);
            $("#TempSelectRadio").val("2");
            document.getElementById("divbankdetails").style.display = "none";
        }
    }
    function setJsonParameter(parameterName, parameterValue, methodName) {
        var obj = new Object();
        obj.ParameterName = parameterName;
        obj.ParameterValue = parameterValue;
        obj.WebMethodName = methodName;
        var resultData = JSON.stringify(obj);
        resultData = getformattedJsonFromArray(resultData);
        return resultData;
    }
    function TermsCondition() {
        document.getElementById("OneTime").disabled = false;
        var tempfilePath=  document.getElementById("spnMemberTermsAndConditions").innerHTML;
        //  var Url = "http://stageservices.labscore.co/AppFileDownload/FileDownload.aspx?FP=D:/SitesData/StageLabScore/Attachments/90/13092019013049Income Report - Complete snapshot (4).pdf";
        var Url = '@AttachedLink' + "" + tempfilePath;
        window.open(Url, "_newtab");
        window.open(Url, "_newtab").focus();
    }
</script>


<div class="pageheading_bar" align="center">
    <b>Enroll Plan</b>
</div>
<div class="Panel_bg" id="divMainPlanEnroll">
    <div class="form-group">
        <div class="row">
            <div class="row" id="divSignupPopup" style="display: none; align-content:center;">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="Page_Dimmer">
                    </div>
                    <div class="PopupHolder" style="top:17%;">
                        <div class="Bgheader" width="100%">
                            <div>
                                <span id="SpnPopUpTitle" style="color: White; font-family: Verdana,Tahoma;
                                font-size: 15px; font-weight: bold;">Physician Primary Care Plan</span>
                            </div>
                        </div>
                        <div style="border: Solid 1px #33CCEE; width: 100%;">
                            <div align="left">
                                <img alt="!" id="imgIcon" src="~/Images/Success.png"
                                     style="height: 25px; width: 25px; border-width: 0px;" />
                            </div>
                            <div align="center">
                                <span id="spnPopupMessage" style="color: green; font-family: Verdana,Tahoma; font-size: 14px;
                                font-weight: bold;">
                                </span>
                            </div>
                            <div align="center">
                                <br />
                                <button type="button" id="btnSuccess" onclick="document.location.href = $('#loginUrl').attr('href');" class="button_blue"
                                        style="width: 70px;">
                                    Ok
                                </button>
                                <a id="loginUrl" href="@Html.AttributeEncode(Url.Action("PlanEnroll", "Member" ))">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divGetEnroll" class="form-group" style="width:100%;">
                <div class="row">
                    <div class="row Panel_bg_Sub">
                        <b>Select Members to enroll</b><br /><br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                            <input type="radio" id="chkIndividuals" checked="checked" onclick="Individuals()" /> Select Individual
                                        </div>
                                        <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">

                                            <input type="radio" id="chkFamilyMember" onclick="FamilyMember()" />Select Family Members
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="divIndividual" style="display:block;padding-left:60px;width:500px;">
                                            @(Html.Kendo().Grid<PPCP07302018.Models.Member.MemberDetails>
                                                    ()
                                                    .Name("IndividualsMemberGrid")
                                                    .Events(e => e.DataBound("onDataBound"))
                                                    .Columns(columns =>
                                                    {

                                                        columns.Bound(p => p).ClientTemplate("<a onclick=\"GetEnrollMemberDetails('#= MemberID #','#= FirstName #','#= LastName #','#= DOB #','#=Gender#','1')\"> <span style='cursor:pointer'><input type='radio' value='#= MemberID #' name='MemberID' id='check'></a>").Title("Select").Width(50).Filterable(false);
                                                        //  columns.Bound(p => p.FirstName).Title("Name").Filterable(true).Width(50);

                                                        columns.Bound(p => p.FirstName).Title("Name").ClientTemplate(" #: LastName  # #: FirstName # ").Filterable(false).Width(200);

                                                    })
                                                    .Scrollable()
                                                    .Pageable()
                                                    .Filterable()
                                                    .AutoBind(false)
                                                    .HtmlAttributes(new { })
                                                    .Selectable()
                                                    .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .PageSize(5)
                                                    .ServerOperation(false)))
                                        </div>
                                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="divFamilyMember" style="display:none;padding-left:60px;width:500px;">
                                            @(Html.Kendo().Grid<PPCP07302018.Models.Member.MemberDetails>
                                                    ()
                                                    .Name("FamilyMemberGrid")
                                                    .Events(e => e.DataBound("onDataBound"))
                                                    .Columns(columns =>
                                                    {

                                                        columns.Bound(p => p).ClientTemplate("<a onclick=\"GetEnrollMemberDetails('#= MemberID #','#= FirstName #','#= LastName #','#= DOB #','#= Gender #','2')\"> <span style='cursor:pointer'><input type='checkbox' value='#= MemberID #' id='check'></a>").Title("Select").Width(50).Filterable(false);
                                                        columns.Bound(p => p.FirstName).Title("Name").ClientTemplate("  #: LastName # #: FirstName #").Filterable(false).Width(200);


                                                    })
                                                    .Scrollable()
                                                    .Pageable()
                                                    .Filterable()
                                                    .AutoBind(false)
                                                    .HtmlAttributes(new { })
                                                    .Selectable()
                                                    .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .PageSize(5)
                                                    .ServerOperation(false)))
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div align="center" id="divValidationMember" class="row" style="display:block;">
                            <span style="color: Red"><span id="spnValidationMember"></span></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row" id="divErrMessagePopup" style="display: none; position: relative" align="center">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="Page_Dimmer">
                    </div>
                    <div class="PopupHolder" style="top: 17%;">
                        <div class="Bgheader" width="100%">
                            <div align="center">
                                <span id="SpanErrMsgTitle" style="color: White; font-family: Verdana,Tahoma; font-size: 15px;
                        font-weight: bold;">Physician Primary Care Plan</span>
                            </div>
                        </div>
                        <div style="border: Solid 1px #33CCEE; width: 100%;">
                            <div align="left">
                                <img alt="!" id="Img1" src="~/Images/Error.png" style="height: 25px; width: 25px;
                        border-width: 0px;" />
                            </div>
                            <div align="center">
                                <span id="spnPopupErrMessage" style="color: red; font-family: Verdana,Tahoma; font-size: 14px;
                                font-weight: bold;">
                                </span>
                            </div>
                            <div align="center">
                                <br />
                                <button type="button" id="btnErrPopup" onclick="btnErrorClose();" class="button_blue"
                                        style="width: 70px;">
                                    Ok
                                </button>
                                @*<a id="errorUrl" href="@Html.AttributeEncode(Url.Action("PlanEnroll", "Member" ))">
                                    </a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="SearchPlan" class="form-group" style="width:100%;display:none">
                <div class="row">
                    <div class="row Panel_bg_Sub">
                        <b>Search Plans by Facility Name or Provider Name</b><br /><br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                            @Html.Label("Facility Name", new { style = "font-weight:normal;", @class = "" })<br />
                                            @(Html.Kendo().AutoCompleteFor(model => model.OrganizationName)
                                                    .Name("OrganizationNames")
                                                    .Placeholder("Select Organization...")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataTextField("OrganizationName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnOrganizationSelectChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                            <br />
                                            @Html.Hidden("OrganizationID")
                                            @Html.Hidden("SelectedMemberCount")
                                            <script type="text/javascript">
                                                function OnOrganizationSelectChange(e) {
                                                    debugger;
                                                    var dataItem = this.dataItem(e.item.index());
                                                    $("#OrganizationName").val(dataItem.OrganizationName);
                                                    $("#OrganizationID").val(dataItem.OrganizationID);
                                                    var OrganizationID = $("#OrganizationID").val();
                                                    var ProviderID=$("#ProviderID").val();
                                                    var PlanID=$("#PlanID").val();
                                                    var MemberAge=$("#hdnAge").val();
                                                    var MemberGernder=$("#hdnGender").val();
                                                    var PlanType=$("#hdnFamilyIndividual").val();

                                                    BindingPlansGrid(OrganizationID, ProviderID, PlanID,MemberAge,MemberGernder,PlanType,'@ServiceUrl');
                                                }
                                            </script>
                                        </div>
                                        <div class="col-xs-12 col-md-1 col-sm-6 col-lg-1">
                                            <br />
                                            OR
                                        </div>
                                        <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                                            @Html.Label("Provider Name", new { style = "font-weight:normal;", @class = "" })<br />
                                            @(Html.Kendo().AutoCompleteFor(model => model.ProviderName)
                                                    .Name("ProviderNames")
                                                    .Placeholder("Select Provider...")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataTextField("ProviderName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnProviderSelectChange");
                                                        //events.Change("OnProviderChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                            <br />
                                            @Html.Hidden("ProviderID")
                                            <script type="text/javascript">
                                                @*function OnProviderChange(e) {
                                                    debugger;

                                                    $("#ProviderName").val("");
                                                    $("#ProviderID").val(0);
                                                    var OrganizationID = $("#OrganizationID").val();
                                                    var ProviderID=$("#ProviderID").val();
                                                    var PlanID=$("#PlanID").val();
                                                    BindingPlansGrid(OrganizationID, ProviderID, PlanID,'@ServiceUrl');
                                                }*@

                                                function OnProviderSelectChange(e) {
                                                    debugger;
                                                    var dataItem = this.dataItem(e.item.index());
                                                    $("#ProviderName").val(dataItem.ProviderName);
                                                    $("#ProviderID").val(dataItem.ProviderID);
                                                    var OrganizationID = $("#OrganizationID").val();
                                                    var ProviderID=$("#ProviderID").val();
                                                    var PlanID=$("#PlanID").val();
                                                    var MemberAge=$("#hdnAge").val();
                                                    var MemberGernder=$("#hdnGender").val();
                                                    var PlanType=$("#hdnFamilyIndividual").val();
                                                    BindingPlansGrid(OrganizationID, ProviderID, PlanID,MemberAge,MemberGernder,PlanType,'@ServiceUrl');
                                                }
                                            </script>
                                        </div>
                                        <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3" style="display:none">
                                            @Html.Label("Plan Name", new { style = "font-weight:normal;", @class = "" })<br />
                                            @(Html.Kendo().AutoCompleteFor(model => model.PlanName)
                                                    .Name("PlanNames")
                                                    .Placeholder("Select Plan...")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .DataTextField("PlanName")
                                                    .Events(events =>
                                                    {
                                                        events.Select("OnPlanSelectChange");
                                                    })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                        });
                                                    }))
                                            <br />
                                            @Html.Hidden("PlanID")
                                            <script type="text/javascript">
                                                function OnPlanSelectChange(e) {
                                                    debugger;
                                                    var dataItem = this.dataItem(e.item.index());
                                                    $("#PlanName").val(dataItem.PlanName);
                                                    $("#PlanID").val(dataItem.PlanID);
                                                    var OrganizationID = $("#OrganizationID").val();
                                                    var ProviderID=$("#ProviderID").val();
                                                    var PlanID=$("#PlanID").val();
                                                    var MemberAge=$("#hdnAge").val();
                                                    var MemberGernder=$("#hdnGender").val();
                                                    var PlanType=$("#hdnFamilyIndividual").val();
                                                    BindingPlansGrid(OrganizationID, ProviderID, PlanID,MemberAge,MemberGernder,PlanType,'@ServiceUrl');
                                                }
                                            </script>
                                        </div>
                                        <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3" style="display:none">
                                            <br /><br />
                                            <a href="" id="ChangeSearchPlan" @*onclick='return ChangeSearchPlan();'*@ style="font-size:16px;font-weight:bold;">Change search</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" style="display:block">
                            <div class="col-xs-12 col-md-12 col-sm-12" align="center">
                                <button class="button_blue" type="button" id="btnBack" title="Back" style="width: 100px;display:none" value="Back">
                                    Back
                                </button>
                                <button class="button_blue" type="button" id="btnBack" title="Back" style="width: 135px;" value="Back" onclick="btnchnagesearch();">
                                    Change search
                                </button>
                            </div>
                            <br />
                        </div>
                        <div class="row" id="divSelectPlan" style="display:none;">
                            <b>Select a plan</b><br /><br />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                        @(Html.Kendo().Grid<PPCP07302018.Models.Member.MemberDetails>
                                                    ()
                                                    .Name("PlansGrid")
                                                    .Events(e => e.DataBound("onDataBound"))
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(p => p.PlanID).ClientTemplate("<input type='radio' name='PlanID' value='#= PlanID #' />").Title("Select").Filterable(false).Width(50);
                                                        //columns.Bound(p => p.Specialization).Title("Specialization").Filterable(true).Visible(false);
                                                        columns.Bound(p => p.PlanName).Title("Plan Name").Filterable(false).Width(100);
                                                        columns.Bound(p => p.ProviderName).Title("Provider Name").Filterable(false).Width(100);
                                                        columns.Bound(p => p.ProviderID).Title("ProviderID").Visible(false);
                                                        columns.Bound(p => p.OrganizationID).Title("OrganizationID").Visible(false);
                                                        columns.Bound(p => p.EnrollFee).Title("EnrollFee").Visible(false);
                                                        columns.Bound(p => p.VisitFee).Title("VisitFee").Visible(false);
                                                        columns.Bound(p => p.PlanTermName).Title("PlanTermName").Visible(false);
                                                        columns.Bound(p => p.FromAge).Title("FromAge").Visible(false);
                                                        columns.Bound(p => p.ToAge).Title("ToAge").Visible(false);
                                                        columns.Bound(p => p.Amount).Title("Amount").Visible(false);
                                                        // columns.Bound(p => p.OrganizationName).Title("OrganizationName").Visible(false);
                                                        //documnet.getElementBYId("spnDuration").innerHTML=dataItem.PlanTermName;

                                                        //documnet.getElementBYId("spnEligibility").innerHTML=dataItem.FromAge+"Y - "+dataItem.ToAge+"Y";

                                                        //documnet.getElementBYId("spnPlanAmount").innerHTML=dataItem.Amount;
                                                        //documnet.getElementBYId("spnVisitFee").innerHTML=dataItem.VisitFee;
                                                    })
                                                    .Scrollable()
                                                    .Filterable()
                                                    .Pageable()
                                                    .AutoBind(false)
                                                    .HtmlAttributes(new { })
                                                    .Selectable()
                                                    .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .PageSize(5)
                                                    .ServerOperation(false)))
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row" id="divPlanPayment" style="display:none;">
                                <b>Select a payment schedule</b><br /><br />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                                            @Html.Label("Plan start date ", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;"> * </span>
                                            @( Html.Kendo().DatePickerFor(model => model.PlanStartDate).Format("MM/dd/yyyy").Name("PlanStartDate").Value(DateTime.Now)
                                                    .HtmlAttributes(new { PlaceHolder = "MM/DD/YYYY", Maxlength = "10", type = "text", onkeydown = "return false;" }))
                                            @Html.ValidationMessageFor(model => model.PlanStartDate, "", new { @style = "color:red" })
                                        </div>
                                        <div class="col-xs-0 col-md-6 col-sm-6 col-lg-6"></div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                            @(Html.Kendo().Grid<PPCP07302018.Models.Member.MemberDetails>
                                                        ()
                                                        .Name("PlansPayment")
                                                        .Events(e => e.DataBound("onPlansPaymentDataBound"))
                                                        .Columns(columns =>
                                                        {
                                                            columns.Bound(p => p.Paymentschedule).ClientTemplate("<input type='radio' name='Paymentschedule' value='#= Paymentschedule #' />" + " " + "#=Paymentschedule#").Title("Payment Schedule").Filterable(false).Width(150);
                                                            columns.Bound(p => p.TotalAmount).Title("TotalAmount").Filterable(false).Width(150);
                                                            columns.Bound(p => p.NoofInstallments).Title("No. of Installments").Filterable(false).Width(150);
                                                            columns.Bound(p => p.InstallmentAmount).Title("Installment Amount").Filterable(false).Width(150);
                                                            columns.Bound(p => p.InstallmentFee).Title("Installment Fee").Filterable(false).Width(150);
                                                            columns.Bound(p => p.Savings).Title("Savings").Filterable(false).Width(100).Visible(false);
                                                        })
                                                        .Scrollable()
                                                        .Pageable()
                                                        .Filterable()
                                                        .AutoBind(false)
                                                        .HtmlAttributes(new { })
                                                        .Selectable()
                                                        .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .PageSize(5)
                                                        .ServerOperation(false)))
                                        </div>
                                    </div>
                                </div>
                                <div align="center" id="divValidator" class="row" style="display:none;">
                                    <span style="color: Red"><span id="PlanPaymentValidation"></span></span>
                                </div>
                                <div>
                                    <span id="PlanID" style="display:none;"></span>
                                    <span id="SpOrganizationID" style="display:none;"></span>
                                    <span id="SpProviderID" style="display:none;"></span>
                                    <span id="spnSelectedOrganization" style="display:none;"></span>
                                    <span id="SpProviderName" style="display:none;"></span>
                                    <span id="Paymentschedule" style="display:none;"></span>
                                    <span id="Installments" style="display:none;"></span>
                                    <span id="InstallmentAmount" style="display:none;"></span>
                                    <span id="InstallmentFee" style="display:none;"></span>
                                    <span id="Savings" style="display:none;"></span>
                                    <span id="DueAmount" style="display:none;"></span>
                                    <span id="Status" style="display:none;"></span>
                                    <span id="spnPlanTermMonths" style="display:none;"></span>
                                    <span id="spnEligibility" style="display:none;"></span>
                                    <span id="spnMonthlyPlanFee" style="display:none;"></span>
                                    <span id="spnMemberTermsAndConditions" style="display:none;"></span>
                                    <span id="spnCommPPCP" style="display:none;"></span>
                                    <span id="spnCommPrimaryMember" style="display:none;"></span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-sm-12" align="center">
                                        <button class="button_blue" type="button" id="btnstepNext" title="Next" style="width: 100px;" value="Next">
                                            Next
                                        </button>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="EnrollPlan" class="form-group" style="width:100%;display:none;">
                <div class="row Panel_bg_Sub">
                    <b>Selected plan</b><br /><br />
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            <div class="row">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Plan Name</b></span>
                                        <br />
                                        <span id="spnSelectedPlan"></span>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Plan Type</b></span>
                                        <br />
                                        <span id="spnPlanType"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Plan Duration</b></span>
                                        <br />
                                        <span id="spnDuration"></span>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Payment Schedule</b></span>
                                        <br />
                                        <span id="spnPaymentschedule"></span>
                                    </div>

                                </div>

                                <div class="row" style="display:none">
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Plan Decription</b></span>
                                        <br />
                                        <span id="spnPlanDescription"></span>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Terms (No. of payments)</b></span>
                                        <br />
                                        <span id="spnNoofInstalments"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Plan Start date </b></span>
                                        <br />
                                        <span id="spnPlanStartDate"></span>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Plan End Date </b></span>
                                        <br />
                                        <span id="spnPlanEndDate"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Visit Fee </b></span>
                                        <br />
                                        <span id="spnVisitFee"></span>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Enrollment Fee  </b> </span>
                                        <br />
                                        <span id="spnEnrollFee"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Plan Amount  </b> </span>
                                        <br />
                                        <span id="spnPlanAmount"></span>
                                    </div>

                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1" style="display:none">
                                        <span><b>AccountID  </b> </span>
                                        <br />
                                        <span id="spnStripeAccountID"></span>
                                    </div>


                                </div>


                                <div class="row" id="divinstAmt">
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1">
                                        <span><b>Installment Amount </b>  </span>
                                        <br />
                                        <span id="spnInstalmentAmt"></span>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-lg-push-1 col-md-push-1" style="display:block">
                                        <span><b>Installment Fee  </b> </span>
                                        <br />
                                        <span id="spnInstalmentFee"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                @Html.CheckBox("chkPayNow", false, new { @disabled = "disabled" })&nbsp;<b>PayNow</b>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 col-lg-push-1 col-md-push-1">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                                    @Html.Label("Amount ", new { style = "font-weight:normal;", @class = "" })<span style="color: Red;"> * </span>
                                    @Html.TextBoxFor(model => model.AmountPaid, null, new { PlaceHolder = "", maxlength = 20, onchange = "ValidateAmountPaid(this.value);" })
                                    @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @style = "color:red" })
                                </div>
                                <div class="col-xs-0 col-md-6 col-sm-6 col-lg-6 col-md-pull-2 col-lg-pull-2">
                                    <span id="spnAmountPaid" style="color:red"></span>
                                </div>
                            </div>
                            <div class="row" id="divCarddetails" style="display:none">
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="divCardSelect" style="display:none;width:100%;padding-left:0px">
                                        <fieldset id="fsCardDetails">
                                            <legend style="padding: 0px; border: 0px; color: #4088B3;font-weight: bold;font-size: medium;width:auto; margin-bottom:0px">Card Details</legend>
                                            <div id="divCardList"></div>
                                        </fieldset>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="divbankdetails" style="display:none">
                                                <fieldset id="fsBankdetails" class="divbackdrop" style="border: solid 1px #CCC; width:100%; background-color:white;">
                                                    <legend style="color: #4088B3; margin-bottom:0px; font-weight: bold; width:auto; font-size:17px">Card Details </legend>
                                                    <div id="divbank" style="width:90%;">
                                                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 col-lg-push-0">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                                                        <span style="font-weight:bold; font-size:14px">Payment Details (please enter your card details below)</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                        @Html.Label("Card Number", new { style = "font-weight:normal;", @class = "classlabel" })
                                                                        <span style="color: Red;">*</span>
                                                                        <br />
                                                                        @Html.TextBoxFor(model => model.CardNumber, null, new { PlaceHolder = "", style = "width:100%;", maxlength = 16 })
                                                                        <br />
                                                                        <span id="spnUserName" style="color:red"></span>
                                                                        @Html.ValidationMessageFor(model => model.CardNumber, "", new { @style = "color:red" })

                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                        @Html.Label("Name On Card", new { style = "font-weight:normal;", @class = "classlabel" })
                                                                        <span style="color: Red;">*</span>
                                                                        <br />
                                                                        @Html.TextBoxFor(model => model.NameOnCard, null, new { PlaceHolder = "", style = "width:100%;", maxlength = 50 })
                                                                        <br />
                                                                        <span id="spnUserName" style="color:red"></span>
                                                                        @Html.ValidationMessageFor(model => model.NameOnCard, "", new { @style = "color:red" })

                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                                        @Html.Label("Expiry Date (MM/YY)", new { style = "font-weight:normal;", @class = "labelColor" })<span style="color: Red;">*</span><br />
                                                                        @(Html.Kendo().DropDownListFor(m => m.MM)
                                                .Name("MM").HtmlAttributes(new { style = "width:30%;" })
                                                .HtmlAttributes(new { style = "width:30%;" })
                                                //.OptionLabel("--Select--")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Events(events =>
                                                {
                                                    events.Select("OnMonth");
                                                })
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("BindMonths", "Master");
                                                    });
                                                }))
                                                                        @(Html.Kendo().DropDownListFor(m => m.YY)
                                                .Name("YY").HtmlAttributes(new { style = "width:30%;" })
                                                .HtmlAttributes(new { style = "width:30%;" })
                                                //.OptionLabel("--Select--")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Events(events =>
                                                {
                                                    events.Select("OnYear");
                                                })
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("BindYears", "Master");
                                                    });
                                                }))
                                                                        @Html.Hidden("MM")
                                                                        @Html.Hidden("YY")
                                                                        @Html.HiddenFor(m => m.CardID)
                                                                        <script type="text/javascript">
                                                                            function OnMonth(e) {
                                                                                var dataItem = this.dataItem(e.item.index());
                                                                                $("#MM").val(dataItem.Text);
                                                                            }
                                                                            function OnYear(e) {
                                                                                var dataItem = this.dataItem(e.item.index());
                                                                                $("#YY").val(dataItem.Text);
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-lg-pull-1">
                                                                        @Html.Label("CVV", new { style = "font-weight:normal;", @class = "classlabel" })
                                                                        <span style="color: Red;">*</span>
                                                                        <br />
                                                                        @Html.TextBoxFor(model => model.CVV, null, new { PlaceHolder = "", style = "width:30%;", maxlength = 3 })
                                                                        <br />
                                                                        <span id="spnUserName" style="color:red"></span>
                                                                        @Html.ValidationMessageFor(model => model.CVV, "", new { @style = "color:red" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-3 col-sm-6 col-lg-8" style="display:none">
                            @*@Html.CheckBox("OneTime")<span>I Accept the <a onclick="TermsCondition();" href="@Html.AttributeEncode(Url.Action("GenerateProviderTermsAndConditions", "Provider" ))">terms and conditions</a> and Exhibit A</span>*@
                            @Html.CheckBox("OneTime", new { onclick = "ChckOneTime();" })<span>
                                I Accept the  <a onclick="TermsCondition();">Terms & Conditions</a> for  Plan Enrollment
                            </span>
                            <br />

                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12" align="center">
                        <span id="spnCheckErrorMessages" style="display:none; color:red !important; text-align:center;">Check Terms and Condition</span>
                    </div>
                    <div align="center">
                        <span id="spnValidationMsg" style="color: red; font-family: Verdana,Tahoma; font-size: 14px;
                                    font-weight: normal;">
                        </span>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12" align="center">
                            <button class="button_blue" type="button" id="btnstepBack" title="Back" style="width: 100px;" value="Back">
                                Back
                            </button>
                            <button class="button_blue" type="submit" id="btnSubmit" title="Submit" style="width: 100px;" value="Submit">
                                Submit
                            </button>
                            <button class="button_blue" type="button" id="btnCancel" title="Cancel" value="Cancel" style="width: 100px;" onclick="@("window.location.href='" + @Url.Action("PlanEnroll", "Member") + "'");">
                                Cancel
                            </button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
